<html>
  <head>
    <title>
      ON_TIME_index
    </title>
    <style>
      h1 {
          font-size: 45px;
          text-align: center;
          font-family: arial;
      }
      h5 {
          font-size: 25px;
          text-align: center;
          font-family: arial;
      }
    </style>
  </head>
  <body>
    <br>
    <h1>Have a great flight with ON TIME 🛫</h1>
    <hr align="center" style="border: solid 3px rgb(21, 58, 121); width: 70%;">
    <h5>여행 날짜와 요일을 입력 양식에 따라 입력해주세요!<br>
      입력 양식 : 현재 URL + <span style="color:red">/ result / 날짜(mmdd) / 요일</span><br>
      예시 : /result/0112/Tuesday
    </h5>
  </body>
</html>
